body {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    margin: 0%;
    background-color: #FFFAF7;
}

.box {
    margin: 50px 180px 10px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sbox {
    background-color: #FFE0C4;
    width: 800px;
    height: 440px;
    border-radius: 20px;
}

#job {
    float: right;
    background-color: #cd7e56;
    margin: 20px 40px 40px 40px;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
}

#info {
    margin-left: 40px;
}

.buttons {
    float: right;
    margin: 0px 350px 20px 10px;
    padding: 20px;
}

#edit {
    background-color: #F9EE99;
    border-radius: 30px;
    border: none;
    padding: 10px 20px 10px 20px;
}

#submit {
    background-color: #6BDBC4;
    border-radius: 30px;
    border: none;
    width: 65px; height: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
}

input {
    border-radius: 20px;
    height: 25px;
    border-color: #cd7e56;
    padding-left: 10px;
    margin: 10px 0px 10px 10px;

}

select {
    background-color: #cd7e56;
    border: none;
    color: aliceblue;
    font-size: medium;
}
td {
    width: 110px;
}
label{
    float: right;
}
#jobx {
    float: left;
    margin-left: 16px;
}